<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Email Template</title>
</head>
<body>
    <h1>Hello, <span style="color: rebeccapurple;" th:text="${userName}"></span>!</h1>
    <p> A Sample Email template for Job Application.</p>
    <p>Kindly upload your resume to saikiran.vadla25@gmail.com</p>
   <p> Follow Instagram for Updates </p> <a href="https://www.instagram.com/sai_chinnu25/">Click here</a> to my websites
   <p> LinkedIn </p> <a href="https://www.linkedin.com/in/vadla-saikiran/">Click here</a> to my websites

</body>
<footer><p>Thanks and Regards</p><br>
<p>Saikiran</p>
</footer>
</html>
